@forward 'position';
@forward 'layout';
@forward 'textOverflow';
@forward 'hiddenScrollbar';

// gpu-speed-up
%gpu-speed-up {
  backface-visibility: hidden;
  perspective: 0;
  transform: translate3d(0, 0, 0);
}

